<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Dll;Configs"></probing>
    </assemblyBinding>
  </runtime>
  <log4net>
    <root>
      <level value="ALL"></level>
      <appender-ref ref="RollingFileAppender"></appender-ref>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\FileTransfer.log"></param>
      <param name="Encoding" value="utf-8"></param>
      <param name="AppendToFile" value="true"></param>
      <param name="RollingStyle" value="Date"></param>
      <param name="MaxSizeRollBackups" value="100"></param>
      <param name="MaximumFileSize" value="10000KB"></param>
      <param name="StaticLogFileName" value="false"></param>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"></param>
        <param name="LevelMax" value="FATAL"></param>
      </filter>
    </appender>
  </log4net>
</configuration>
